# Simulink
*.slxc
*.slx.r2016a
*.slx.r2016b
*.slx.autosave
*Build/cache/
*Build/slprj/

# Matlab
*.m~
*.mat
!/Include/*.mat
!/Test/Analysis/DesatSSO/B_eci_T.mat
*.l

# Other
*.xml
*tr
*scv
*.mexmaci64
*.DS_Store

# Autocoded build stuff
*.o
*.log
*.html
*.png
*.js
*.css
*.gif
*.tmw
*.tlc
*.tlh
*.dmr
*Build/*/*.txt

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
